<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

    <table class="container table  table-bordered mt-5">
        <thead>
            <tr>
                <th scope="col">Sr.</th>
                <th scope="col">Fullname</th>
                <th scope="col">Email</th>
                <th scope="col">Gender</th>
                <th scope="col">hobbies</th>
                <th scope="col">Country</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
<tbody>
<tbody>
    <% for (let i=0; i < student.length; i++) { %>
        <tr>
            <th scope="row">
                <%= i + 1 %>
            </th>
            <td>
                <%= student[i].fullname %>
            </td>
            <td>
                <%= student[i].email %>
            </td>
            <td>
                <%= student[i].gender %>
            </td>
            <td>
                <%= student[i].hobbies %>
            </td>
            <td>
                <%= student[i].country %>
            </td>
        <td class="text-start">
            <div class="d-flex justify-content-center gap-2">
                <button class="btn" style=" background-color: #336699" data-bs-toggle="modal" data-bs-target="#editModal"
                    data-bs-whatever="@fat" onclick="openEditModal('<%= student[i]._id %>')">
                    EDIT<i class="fas fa-edit fa-lg"></i>
                </button>
        
                <!-- Delete Button -->
                <button type="button" class="btn btn-danger" onclick="deleteAlert('<%= student[i]._id %>')">
                    Delete
                </button>
            </div>
        </td>
        </tr>
        <% } %>
</tbody>
    </table>

    <!-- editmodal -->
    <div style="color: #336699" class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel" style="color: #336699">Edit Details</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
    
                <div class="modal-body text-start">
                    <form action="/editstudent" method="post">
                        <input type="hidden" name="id" id="id" value="" />
                        <div class="row g-3">
                            <h3 class="text-center mb-4 mt-2">Registration Form</h3>
                                <div class="mb-3">
                                    <label for="fullname" class="form-label">Full Name</label>
                                    <input type="text" class="form-control" id="fullname" name="fullname" placeholder="Enter Your Full Name">
                                </div>
                        
                                <div class="mb-3">
                                    <label for="email" class="form-label">Email</label>
                                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email">
                                </div>
                        
                                <div class="mb-3">
                                    <label for="password" class="form-label">Password</label>
                                    <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password">
                                </div>
                        
                                <!-- Gender (Radio Buttons) -->
                                <div class="mb-3">
                                    <label class="form-label">Gender</label><br>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="gender" id="male" value="male">
                                        <label class="form-check-label" for="male">Male</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="gender" id="female" value="female">
                                        <label class="form-check-label" for="female">Female</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="gender" id="other" value="other">
                                        <label class="form-check-label" for="other">Other</label>
                                    </div>
                                </div>
                        
                                <!-- Hobbies (Checkboxes) -->
                                <div class="mb-3">
                                    <label class="form-label">Hobbies</label><br>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="reading" name="hobbies[]" value="reading">
                                        <label class="form-check-label" for="reading">Reading</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="travelling" name="hobbies[]" value="travelling">
                                        <label class="form-check-label" for="travelling">TraveLling</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="sports" name="hobbies[]" value="sports">
                                        <label class="form-check-label" for="sports">Sports</label>
                                    </div>
                                </div>
                        
                                <!-- Country (Dropdown) -->
                                <div class="mb-3">
                                    <label for="country" class="form-label">Country</label>
                                    <select class="form-select" id="country" name="country">
                                        <option selected>Select Your Country...</option>
                                        <option value="india" name="india">India</option>
                                        <option value="usa" name="usa">USA</option>
                                        <option value="uk" name="uk">UK</option>
                                    </select>
                                </div>                        
                        </div>
                        </div>
                        <div class="modal-footer mt-4">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                Close
                            </button>
                            <button type="submit" class="btn" style="background-color: #336699; color: white"
                                onmouseover="this.style.backgroundColor='#2A4D73'"
                                onmouseout="this.style.backgroundColor='#336699'">
                                Save
                            </button>
                        </div>
                    </form>
                </div>
            </div>

   
                <script>
                    async function deleteAlert(studentId) {
                    Swal.fire({
                    title: "Are you sure?",
                    text: "You won't be able to revert this!",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#336699",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Yes, delete it!",
                    }).then(async (result) => {
                    if (!result.isConfirmed) {
                    // Do Nothing if User Selected No
                    return;
                    }
                    
                    // Call API if user selected yes
                    // Status will contain a BOOlean wether student was deleted successfully or Not
                    const status = await deleteStudent(userId);
                    if (status) {
                    // Show Success Alert when Deleted
                    Swal.fire({
                    title: "Deleted!",

                    text: "Your file has been deleted.",
                    icon: "success",
                    }).then(() => {
                    // After Aletr is dissmissed reload the page to refetch the data
                    window.location.reload();
                    });
                    } else {
                    Swal.fire({
                    title: "Error!",
                    text: "There was an error deleting institute.",
                    icon: "error",
                    });
                    }
                    });
                    }
                    
                    async function deleteStudent(userId) {
                    const request = await fetch("/deleteStudent", {
                    method: "POST",
                    body: JSON.stringify({ deleteId: userId }),
                    headers: { "Content-Type": "application/json" },
                    });
                    if (request.ok) {
                    return true;
                    }
                    return false;
                    }
                </script>
                      

            
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>

